DEBUG=0
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://phinma.paynamics.net,https://phinma.paynamics.net

APP_URL=https://phinma.paynamics.net/

PAYNAMICS_WORKFLOW_URL=https://payin.paynamics.net/paygate/transactions/
PAYNAMICS_MERCHANT_ID=000000020822C7645278
PAYNAMICS_MERCHANT_KEY=B9247AEEE3D790BF54F2D547FD180CE4
PAYNAMICS_AUTH_USERNAME=phinmaEducHoldings
PAYNAMICS_AUTH_PASSWORD=Wd8Izc2um703

CAPTCHA_SECRET_KEY=''
CAPTCHA_SITE_KEY=''

