DEBUG=1
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://phinma.payserv.net,https://phinma.payserv.net

APP_URL=https://phinma.payserv.net/

PAYNAMICS_WORKFLOW_URL=https://payin.payserv.net/paygate/transactions/
PAYNAMICS_MERCHANT_ID=0000000202225D9AB57B
PAYNAMICS_MERCHANT_KEY=F40FB477D3B4D57A0FE28650A501DE83
PAYNAMICS_AUTH_USERNAME=phinmaBgsT
PAYNAMICS_AUTH_PASSWORD=K34VBbhT3ZnV

CAPTCHA_SECRET_KEY=''
CAPTCHA_SITE_KEY=''